html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: left;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.container {
  padding: 10px;
  height: 30px;
  width: 220px;
  border-radius: 10px;
  margin: 0px;
}

.icon {
  width: 31px;
  height: 31px;
  float: left;
  text-align: center;
}

.aside {
  float: left;
  margin-left: 10px;
  max-width: 190px;
}

.title {
	font-size: 9px;
  line-height: 11px;
  margin-left: 1px;
}

.subtitle {
	max-width: 140px;
	font-size: 21px;
  line-height: 21px;
}

.vote-wrapper {
  float: right;
  width: auto;
}

.upvote {
  text-align: center;
}

.upvote-label {
	height: 20px;
	width: 30px;
	font-size: 13px;
  line-height: 20px;
  text-align: center;
}

.dark-theme-container {
  border: 1px solid #000;
  background-color: #000;
}

.light-theme-container {
  border: 1px solid #EA532A;
  background: #fff;
}

.dark-theme-text {
  color: #fff;
}

.light-theme-text {
  color: #EA532A;
}

.dark-theme-icon {
  fill: #fff;
}

.light-theme-icon {
  fill: #EA532A;
}

.dark-theme-vote {
  fill: #fff;
}

.light-theme-vote {
  fill: #EA532A;
}
