html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  background: #fff 
}

h1, h2, h3, h4, h5, h6, p {
  color: black;
  text-align: center;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.container {
  padding: 5px;
  border-radius: 6px;
  width: 200px;
  height: 45px;
}

.image{
  width: 30px;
  padding: 5px 0px;
  float: left;
}

.aside {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  width: 150px;
}

.title {
  text-align: left;
}

.subtitle {
  color: #999;
  text-align: left;
  font-size: 12px;
  margin-top: 3px;
}