html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6, p {
  color: black;
  text-align: center;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.container {
  padding: 5px;
  border-radius: 6px;
  border: 1px solid  #da552f;
  width: 245px;
  height: 45px;
}

.logo {
  width: 30px;
  padding: 7px 5px;
  /* display: inline-block; */
  float: left;
}

.text-wrapper {
  display: inline-block;
  width: 58%;
  margin-top: 10px;
}

.vote-wrapper {
  float: right;
  border-left: 1px solid #da552f;
  margin-top: 5px;
  padding-left: 3px;
  width: 40px;
}

.upvote {
  padding-bottom: 3px;
  margin-left: 14px;
}